# Binaries
*.o
*.so
*/*.o
*/*/*.o
*.a
*.framework
*.exe
android/gen
android/bin/
android/libs
android/obj
build/
*.dll
*.pdb
build/
CMakeLists.txt.user
cmake_install.cmake
*.orig
*.cbp
*.dsw
*.vsxproj
*.vsproj
*.sln
